/**
 * Home
 */ 

 .btn-cta-small {
	background: $pink;
	border-radius: 3px;
	display: block;
	width: 239px;
    height: 70px;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 1rem;
 }
 .btn-login {
 	display: block;
    text-align: center;
    line-height: 0;
    width: 101px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #fff;
 }
 .btn-login:hover {
    border:1px solid #ee2778;
 }

.form-cta .input {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 1.8rem;
    margin:0;
    font-weight: $medium;
    color:#b9b9b9;
    height: 70px;
}
.form-cta .btn-cta {
    width: 25rem;
    font-weight: $medium;
    font-size: 1.2rem;
    background: $pink;
    height:70px;
    text-transform: capitalize;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

 /**
 * Hover site
 */ 
.hvr-sweep-to-right:before {
    background: #ff408d!important;
    border-radius:3px;
}
.hvr-underline-from-center:before {
    background: #ff408d!important;
    height: 2px!important;
}
 /**
 * Menu
 */ 
.off-canvas-content, .off-canvas-content {
    background: inherit;
}
 /**
 * Titulos
 */ 

 h1  { font-weight: $medium; }
 h2, h5 { font-weight: $extra-light; }
 h3  { font-weight: $medium; font-size: 1rem; }
 h4  { font-weight: $medium; }
 
 
