/**
 * Home
 */ 

 .btn-cta {
	background: $pink;
	border-radius: 3px;
	display: block;
	width: 239px;
    height: 70px;
 }

 .btn-login {
 	display: block;
    text-align: center;
    line-height: 0;
    width: 101px;
    height: 35px;
    border-radius: 3px;
    border: solid 1px #fff;
 }

 /**
 * Titulos
 */ 

 h1  { font-weight: $medium; }
 h2  { font-weight: $extra-light; }
 h3  { font-weight: $medium; font-size: 1rem; }
 h4  { font-weight: $medium }
 p   { font-weight:  }
 