/**
 * Box CTA
 */
 .box-cta {
	background: url(../img/bg-cta.jpg) no-repeat top center; 
	background-size: cover; 
	color:$white;
	font-style: normal;
	font-weight: 400;
}
	.box-cta h2 {
		margin:18rem 20rem 18rem 0;
		font-weight: $medium;
		font-size:3rem;
		margin: 18rem 0;
	}
.box-form-cta {
	margin:15rem 10rem;
	padding: 1rem 0;
	
}	
	.box-form-cta h3 {
		font-weight: $light;
		font-size: 1rem;
		padding-bottom: 4rem;
	}