/**
 * Box Funcionalidades
 */

 .box-funcionalidades {
	margin-top: 15rem;
	position: relative;
    z-index: 999999;
    margin-top: 40rem;
 }
	 .box-funcionalidades h2 {
	 	color:$pink;
	 }
	 .bbox-funcionalidades h3 {
	 	color:$grey;
	 }
