/**
 * Box Funcionalidades
 */

 .box-funcionalidades {
	position: relative;
    z-index: 9999;
    padding-bottom: 8rem;
    top: 0;
 }
	 .box-funcionalidades h2 {
	 	color:$pink;
	 }
	 .box-funcionalidades h3 {
	 	color:$grey;
	 }
	 .box-funcionalidades h4 {
	 	font-size: 1rem;
	 	font-weight: bold;
	 }
	 .box-funcionalidades header {
	 	padding-bottom: 5rem;
	 }
	 .box-funcionalidades .icon-product {
	 	height: 40px;
	 	width: 59px;
	 }
	 .small-pull-5 {
		left: 0;		
	 }

/**
 * Ipad ecommerce
 */
	@media only screen and (max-width: 90em) {
		.box-funcionalidades .row {
			padding:2rem;
		}
	}
/**
 * Mobile funcionalidades
 */
	@media only screen and (max-width: 40em) {
		.box-funcionalidades {
			padding-bottom: 1rem;
			padding-top: 0;
		}
		.box-funcionalidades .stack-for-small {
			padding:2rem;
			border-bottom:1px solid $grey-light;
		}
		.small-pull-5 {
			left: -41.66667%;		
	 	}
	 	.box-funcionalidades .row {
	 		padding: 0;
	 	}

	}
