/**
 * Box Depoimentos
 */

 .box-depoimentos {
 	background: #fff7f2;

 }
 	.box-depoimentos div {
		position: relative;
		z-index: 9999;
 	}
 	.box-depoimentos h2 {
 		color:$pink;
 		font-size: 2rem;
 	}
	.box-depoimentos header {
		margin: 8rem 0;
	}
	.box-depoimentos h4 {
		font-weight: $extra-light;
		font-style: italic;
		/*padding-left: 6rem;*/
	}
	/*.box-arrow:before, .box-arrow:after {
		content: ' ';
		background: url(../img/aspas.png) no-repeat 0 0; 
		display: block;
		height: 50px;
		margin-left: 3rem;
	}
	.box-arrow:after {
		 -ms-transform: rotate(180deg); /* IE 
    	-webkit-transform: rotate(180deg); 
    	transform: rotate(180deg);
	}*/
	.box-depoimentos span {
		font-size: 1.5rem;
		font-weight: bold;
		padding:1rem;
		color:#666;
	}
	.box-depoimentos-item-quote {
	    border: none;
	    background: url(../img/aspas.png) no-repeat 0 0; ;
	    padding: 0 0 0 4rem;
	    margin-left: 5rem;
	}
/**
 * Slider
 */
.box-depoimentos .orbit-slide {
	padding:1rem;
}
.orbit-bullets{
	margin:4rem 0;
}
	.orbit-bullets button.is-active {
		background: $pink;
		border: 3px solid $pink;
	}
	.orbit-bullets button {
		border: 3px solid #ffc3dd;
		background: none;
		width: 0.9rem;
    	height: 0.9rem;
	}
	.orbit-bullets button:hover {
	    background-color: $pink;
	}
	
/**
 * Box Midia
 */
.box-midias {
	border-top:1px solid $grey-light;
	margin-top: 3rem;
	padding-bottom: 5rem;
}
	.box-midias h5 {
		padding: 5rem;
		color:$pink;
		font-size: 2.5rem;
	}
	.img-midias {
		list-style: none;
	}
		.img-midias a {
			display: block;
			text-indent: -9999px;
			height: 50px;
	        -webkit-transition: .5s ease-in-out;
	  		-moz-transition: .5s ease-in-out;
	  		-o-transition: .5s ease-in-out;
		}
		.img-midias a:hover {
	        -webkit-transition: .5s ease-in-out;
	  		-moz-transition: .5s ease-in-out;
	  		-o-transition: .5s ease-in-out;
		}
		.img-midias .techmundo a {
			background: url(../img/logo-techmundo.png) no-repeat top center;
		}
		.img-midias .techmundo a:hover {
			background: url(../img/logo-techmundo-hover.png) no-repeat top center;
		}
		.img-midias .gazeta a {
			background: url(../img/logo-gazeta.png) no-repeat top center;
		}
		.img-midias .gazeta a:hover {
			background: url(../img/logo-gazeta-hover.png) no-repeat top center;
		}
		.img-midias .ecommerce a {
			background: url(../img/logo-ecommerce.png) no-repeat top center;
		}
		.img-midias .ecommerce a:hover {
			background: url(../img/logo-ecommerce-hover.png) no-repeat top center;
		}


/**
 * Mobile depoimentos
 */
@media only screen and (max-width: 40em) {
	.box-depoimentos header {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.box-depoimentos span {
		font-size:0.9rem;
	}
	.box-depoimentos-item-quote {
		margin-left: 0;
		margin-top:2rem;
	}
	.orbit-bullets {
		margin: 0;
	}
}
/**
 * Mobile midia
 */
@media only screen and (max-width: 40em) {
	.box-midias {
		padding-bottom: 0;
	}
	.box-midias h5 {
		padding: 5rem 0 0 0;
		font-size: 1.5rem;
	}
	.img-midias {
		margin-top:3rem;
		overflow: hidden;
	}
	.img-midias li  {
		margin-bottom: 3rem;
	}
	.orbit-bullets {
		margin:2rem 0;
	}
}
