/**
 * Box CTA
 */
 .box-cta {
	background: url(../img/bg-cta.jpg) no-repeat top center; 
	color:$white;
	font-style: normal;
	font-weight: 400;
	height: 800px;
	overflow: hidden;
	background-size: cover;
}
	.box-cta h2 {
		margin:18rem 20rem 18rem 0;
		font-weight: $medium;
		font-size:3rem;
	}
	.box-cta h2:last-child {
	    border-right: 1px solid #6c535f;
	    content: ' ';
	    height: 377px;
	    margin-right: -15rem;
	    padding-right: 3rem;
	    padding-top: 4rem;
	}
.box-form-cta {
	margin:15rem 10rem;
	padding: 1rem 0;
	
}	
	.box-form-cta h3 {
		font-weight: $light;
		font-size: 1rem;
		padding-bottom: 4rem;
	}
/**
 * Ipad comunidade
 */
	@media only screen and (max-width: 90em) and (orientation : portrait) { 
		.box-cta h2 {
			margin: 0;
		}
		.box-cta h2:last-child {
			margin-right: 0;
			padding-right: 0;
			padding-top: 6rem;
			text-align: center;
			height: 17rem;
		}
		.box-form-cta {
			margin:0;
		}
		.box-form-cta h3 {
			font-size: 2rem;
			padding: 0 1rem;
		}
		.form-cta {
			padding-top: 3rem;
		    margin: 1rem 5rem;
		}	
	}
/**
 * Mobile CTA
 */
 @media only screen and (max-width: 40em) {
	.box-cta h2:last-child {
		height: inherit;
		margin-right: 0;
	}
	.box-form-cta {
		margin:3rem 0 0 0;
		padding: 1rem;
	}
	.box-cta h2 {
		margin:0;
		font-size: 2rem;
	}
	.box-cta h2:last-child {
		padding-right: 0;
		padding-top: 2rem;
	}

}