
/**
 * Box Ecommerce
 */
.bg-mockup {
	background:  url(../img/mockup.png) no-repeat right bottom; 
	overflow: hidden;
	position: relative;
	z-index: 9999;
	margin-top: 8rem;
	padding: 5rem;
	padding-right: 35rem;
    
}
	.box-ecommerce {
		background: #f8f8f8;
		position: relative;
		z-index: 9998;
		overflow: hidden;
	}
	/*.bg-mockup {	
		height: 726px;
		width: 1176px;
	}*/
	 .bg-woman-bicycle {
		background: url(../img/woman-bicycle.jpg) no-repeat left bottom; 
	    position: absolute;
	    z-index: 9997;
	    display: block;
	    width: 100%;
	    height: 1418px;
	    right: 0;
	}
	/*.bg-mockup {
		background: url(../img/mockup.png) no-repeat right bottom; 	
		height:726px; 
		width:100%;
		position: relative;
		z-index: 9999;
	}*/
	.box-ecommerce h2 {
		color:$pink;
	}
	.box-ecommerce h3 {
		padding-bottom: 1rem;
	}
	.box-ecommerce h4 {
		font-size: 1rem;
		margin-top: 3rem;
	}
	.bog-mockup .mockup {
		height: 726px;
		width: 560px;
	}