/**
 * Section steps
 */

.position-relative {
	position: relative;
	z-index: 9997;
}
.bg-women {
	background: url(../img/woman-clothes.jpg) no-repeat right 24rem; 
    position: absolute;
    z-index: 9997;
    display: block;
    width: 100%;
    height: 100%;
    right: 0;
}
.container-steps {
	padding-top:5%;
	background:#f8f8f8;
}	
	.container-steps h2 {
		color:$pink;		
	}
	.container-steps header {
		position: relative;
		z-index: 9999;
	}
		.box-steps {
			margin-top: 3rem;
			overflow: hidden;
		}
			.box-steps h4 {
				font-size: 1rem;
				padding-top: 1rem;
			}
			.box-steps span {
				color:#ccc;
				font-size:5rem;
				float: left;
				min-height: 15rem;
				font-weight: $medium;
				padding: 3rem 0;
			}		
				/*.box-steps .border:after {
					color:$grey-color-light;
					content:' ';
					border-left: 1px solid #ccc;
				}*/
				.box-steps div {
					background: $white;
					margin:1rem;
    				position: relative;
    				z-index: 9997;				    
    				padding: 1rem;
    				top: -2rem;
				}
				.box-steps .media-object:before {
					content: ' ';
					background: url(../img/arrow-steps.png) no-repeat 0 0; 
					width: 143px;
					height: 61px;
					position: relative;
					z-index: 9999;
					display: block;
				}
				.box-steps .media-object:nth-child(1):before {
					background: none;
				}
				.box-steps .media-object:nth-child(2):before {
					right: 6rem;
				}
				.box-steps .media-object:nth-child(3):before {
					top: -2rem;
					left: 25rem;
					right: 0;
 					-moz-transform: scaleX(-1);
        			-o-transform: scaleX(-1);
        			-webkit-transform: scaleX(-1);
        			transform: scaleX(-1);
        			filter: FlipH;
        			-ms-filter: "FlipH";
				}
				.box-steps .media-object:nth-child(4):before {
					top: 2rem;
					right: 6rem;
				}
				.box-steps .media-object:nth-child(2){
					margin-top: 70px;
				}
				.box-steps .media-object:nth-child(3){
					margin-top: -35px;
				}
				.box-steps p {
					font-size: 0.90rem;
				}
				.icon-product {
					height:82px;
					width: 78px;
				}
				.box-steps .columns:last-child {
					float: left;
				}
	@media only screen and (max-width: 40em) { 	
		.container-steps {
			padding-top: 10%;
		}	
		.bg-women, .box-steps .media-object:before {
			background: none; 
		}
		.box-steps .media-object:nth-child(2) {
			margin-top: 0;
		}
		.box-steps .media-object:nth-child(3) {
			margin-top:0;
		}
	}
    
    /*$small-range: (0em, 40em); /* 0, 640px /
	$medium-range: (40.063em, 64em); / 641px, 1024px /
	$large-range: (64.063em, 90em); / 1025px, 1440px /
	$xlarge-range: (90.063em, 120em); / 1441px, 1920px /
	$xxlarge-range: (120.063em); / 1921px */
	

