/**
 * Section steps
 */

.position-relative {
	position: relative;
	z-index: 9997;
}
.bg-women {
	background: url(../img/woman-clothes.jpg) no-repeat right 24rem; 
    position: absolute;
    z-index: 9997;
    display: block;
    width: 100%;
    height: 100%;
    right: 0;
}

.container-steps {
	padding-top:5%;
	background:#f8f8f8;
}	
	.container-steps h2 {
		color:$pink;		
	}
		.box-steps {
			margin-top: 3rem;
			overflow: hidden;
		}
			.box-steps h4 {
				font-size: 1rem;
				padding-top: 1rem;
			}
			.box-steps span {
				color:#ccc;
				font-size:5rem;
				float: left;
				min-height: 15rem;
				font-weight: $medium;
				padding: 3rem 0;
			}		
				/*.box-steps .border:after {
					color:$grey-color-light;
					content:' ';
					border-left: 1px solid #ccc;
				}*/
				.box-steps div {
					background: $white;
					margin:1rem;
				    position: relative;
				    z-index: 99999;
				    padding: 1rem;
				}
				.box-steps .media-object:nth-child(2){
					margin-top: 70px;
				}
				.box-steps .media-object:nth-child(3){
					margin-top: -35px;
				}
				.box-steps p {
					font-size: 0.75rem;
				}
				.icon-product {
					height:82px;
					width: 78px;
				}
				.box-steps .columns:last-child {
					float: left;
				}
