/**
 * Home
 */


.tp-header {
    padding-top: 1rem;
}
.bg-home {
	background: url(../img/banner-hero.jpg) no-repeat top center; 
	font-style: normal;
}
.tp-header {

}	
	.logo-mine {
		display: block;
		height:52px;
		width:181px;
		margin-top:10px;
	}
	.navigation {
		list-style: none;
	}
		.navigation > li {
			display: table-cell;
			vertical-align: middle;
		}
		.navigation li > a {
			color: $white;
			text-transform: capitalize;
			padding: 1rem 1.5rem;
			font-weight: $medium;
		}
		.navigation li:last-child > a {
			padding: 1rem;
			margin-left: 1.5rem;
		}

/**
 * Hero
 */

.hero-wrapper {
	color:$white;
	
}		
	.hero-wrapper h2 {
		font-size:  1.5rem;
	}
	.title-hero {
		margin: 10rem 0 16.4rem 0;
	}


/**
 * Header page
 */
 .header-pg {
 	border-bottom: 1px solid #DDD; 	
 }
	 .header-pg a {
	 	display: block;
	 	padding-bottom: 1rem;
	 }
	 .header-pg .logo-mine {
	 	margin-top: 0;
	 }
	 .header-pg .navigation li > a {
	 	color:$black;
	 }
	.header-pg .btn-login {
		border: 1px solid $pink;
	}
	.header-pg .navigation li:last-child > a {
		color:$pink;
	}

