/**
 * Home
 */


.tp-header {
    padding-top: 1rem;
}
.bg-home {
	background: url(../img/banner-hero.jpg) no-repeat top center;
	font-style: normal;
	background-size: cover;
	position: relative;
	top:0;
}
.tp-header {

}	
	.logo-mine {
		display: block;
		height:52px;
		width:181px;
	}
	.navigation {
		list-style: none;
	}
		.navigation > li {
			display: table-cell;
			vertical-align: middle;
		}
		.navigation li > a {
			color: $white;
			text-transform: capitalize;
			font-weight: $medium;
			display: inline-block;
		}
		.navigation li:last-child > a {
			margin-left: 1.5rem;
		}
		.menu > li > a {
			line-height: 10px;
		}
		.menu-home li {
			padding:0;
			margin:0;
		}
			.menu-home li > a {
				padding: 0;
				margin: 0;
			}
		.header-pg .logo-mine {
			margin-top: -10px!important;
		}	
/**
 * Hero
 */

.hero-wrapper {
	color:$white;
	padding: 10rem 0;

}		
	.hero-wrapper h2 {
		font-size:  1.5rem;
	}


/**
 * Header page
 */

 .header-pg {
 	border-bottom: 1px solid #DDD; 	
 }
	 .header-pg a {
	 	display: block;
	 	margin-bottom: 1rem;
	 }
	 .header-pg .logo-mine {
	 	margin-top: 0;
	 }
	 .header-pg .navigation li > a {
	 	color:$black;
	 }
	.header-pg .btn-login {
		border: 1px solid $pink;
	}
	.header-pg .navigation li:last-child > a {
		color:$pink;
	}
	.header-pg .navigation li:last-child > a:hover {
		color:$white;
	}
	.top-bar, .top-bar ul {
		background-color: inherit!important;
	}
/**
* Large 1280
*/
	@media only screen and (max-width: 80em) {
		.hero-wrapper {
			padding:6rem 0;
		}
}
/**
* Mobile header
*/
@media only screen and (max-width: 40em) {
	.top-bar, .top-bar ul {
		width: 100%; 
		position: absolute;
		background: #5a404b!important;
	    height: 100%;
	    z-index: 9996;
	    top:0;
	    text-align: center;
	}
	.top-bar .top-bar-left, .top-bar .top-bar-right {
		height: 100%;
	}
	.title-bar {
		background: inherit;
	}
	.logo-mobile .logo-mine {
		height: 40px;
		width:150px;
	}
	.hero-wrapper {
		padding:5rem 2rem;
	}

}
