/**
 * Lojistas
 */
.container-lojistas header {
	padding:5rem 0;
}
	 .container-lojistas h1{
		color:$pink;
		font-weight: $extra-light;
	 }
	 .container-lojistas h2 {
		font-size: 1rem;
		padding-bottom: 1rem;
	 }

.box-lojistas h2 {
	color:$pink-light;
	font-size: 3rem;
}
	.box-lojistas a {
		background: url(../img/arrow-links.svg) no-repeat 7rem 0.40rem; 
	}
	.box-lojistas .fewer-styles a {
		color:$purple;
	}
	
	.box-lojistas .row {
		margin: 10rem 0;
	}