/**
 * Lojistas
 */
.container-lojistas header {
	padding:5rem 0;
}
	 .container-lojistas h1{
		color:$pink;
		font-weight: $extra-light;
	 }
	 .container-lojistas h2 {
		font-size: 1rem;
		padding-bottom: 1rem;
	 }

.box-lojistas h2 {
	color:$pink-light;
	font-size: 3rem;
}
	.box-lojistas a {
		background: url(../img/arrow-links.svg) no-repeat 7rem 0.40rem; 
	}
	.box-lojistas .fewer-styles a {
		color:$purple;
	}
	.box-lojistas .row:first-child {
		margin: 0 0;
	}
	.box-lojistas .row {
		margin: 10rem 0;
	}
	.box-lojistas .large-pull-6 {
		top:5rem;
	}
	.box-lojistas .large-pull-1 {
		top:5rem;
	}
/**
 * Colors Lojistas
 */

	.box-lojistas .green-light {
		color:#a9d3a7;
	}
	.box-lojistas .purple-light {
		color:#c0aadf;
	}
	.box-lojistas .pink-light {
		color:#ffbad7;
	}
	.box-lojistas .blue-light {
		color:#a4cfde;
	}