/**
 * Home
 */
 .page-oops {
 	/*background: rgba(255, 247, 242, 0.9) url(../img/oops.jpg) no-repeat top center;*/
 	height: 100%;
 	width:100%;
 	background-size: cover;
 }
.page-oops .box-itens-parceiros {
    top:0;
    margin-bottom: 5rem;
}
	.page-oops .box-itens-parceiros:before {
		content: " ";
		display: block;
		border-top: 1px solid #ccc; 
		width: 50%;
		margin:0 auto;
	}
	.page-oops .box-itens-parceiros li {
		height: inherit;
		text-align: center;
		line-height: 3rem;
		padding: 2rem 0;
	}
	.page-oops .box-itens-parceiros button {
		line-height: 1.2rem;
	}
	.page-oops h3 {
		color:$pink;
		text-align: center;
		font-size: 1.5rem;
		padding: 1.5rem 0;
	}
	.btn-oops {
    	border: 1px solid #ee2778;
    	padding:1rem;
    	border-radius: 3px;
    	margin-bottom: 3rem;
    	color: $pink;
	}
	.links-oops a {
		color:$pink;
		background: #fff2f8;
		margin-right: 1rem;
		display: block;
		text-align: center;
		border: 1px solid $pink;
		padding:1rem;
		border-radius:3px;
	}