/**
 * Privacidade
 */

.container-politica header {
	padding:4rem 0;
}
	.container-politica h1 {
	    color: #ee2778;
	    font-weight: 200;
	}
	.container-politica a {
	    display: inline;
	}
/** 
 * Ipad termos de uso
 */ 
  @media only screen and (max-width: 90em) {  
    .box-politica {
    	padding: 1rem;
    }
  }
