/**
 * Termos
 */

.container-termos header {
	padding:4rem 0;
}
	.container-termos h1 {
	    color: #ee2778;
	    font-weight: 200;
	}

/** 
 * Ipad termos de uso
 */ 
  @media only screen and (max-width: 90em) {  
    .box-termos {
    	padding: 1rem;
    }
  }
