---
layout: default
title: Ajuda
permalink: /ajuda

cta_text: Ainda não se<br> cadastrou?<br> Aproveite!
---

<section class="box-recursos">
	<header class="page-title">
		<div class="large-centered columns text-center">
			<h1>Tire todas as suas dúvidas<br> sobre a minestore</h1>
		</div>
	</header>

	<div class="row show-for-large">
		<aside class="large-3 columns sticky-container" data-sticky-container>
			<nav class="columns sticky" data-sticky data-anchor="magellan-content" data-sticky-on="large" data-events="scroll">
				<ul class="vertical menu" data-magellan>
					{% for post in site.categories.ajuda %}
						<li><a href="#{{ post.link }}">{{ post.title }}</a></li>
				  {% endfor %}
				</ul>
			</nav>
		</aside>

		<div class="text-aside large-9 columns" id="magellan-content">
			<div class="sections">
				{% for post in site.categories.ajuda %}
					<section id="{{ post.link }}" data-magellan-target="{{ post.link }}">
						<h2>{{ post.title }}</h2>
						{{ post.content }}
					</section>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="row hide-for-large">
		<ul class="accordion" data-accordion data-accordion data-multi-expand="true" data-allow-all-closed="true">
			{% for post in site.categories.ajuda %}
				<li class="accordion-item" data-accordion-item>
					<a href="#" class="accordion-title">{{ post.title }}</a>
					<div class="accordion-content" data-tab-content>
						{{ post.content }}
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

</section>


{% include box-cta.html  cta_text=page.cta_text %}
