---
layout: home

cta_text: Aqui é onde<br> tudo começa!
---

<!-- HERO -->
<section>
  <div class="row">
    <div class="hero-wrapper">
      <div class="row large-7 column large-expand title-hero">
        <header class="text-left">
          <h1>Atual. Criativa. Original.
          Assim como sua marca.</h1>
          <h2>Crie seu e-commerce e faça parte da nossa comunidade</h2>
          <form class="box-form">
            <div class="row">
              <div class="large-5 medium-6 small-12 columns">
                <input name="criar-loja" class="input-txt" type="email" id="email" placeholder="Digite seu e-mail">
              </div>
                <button class="hvr-sweep-to-right btn-cta large button" id="create-store">Crie sua loja grátis</button>
            </div>
          </form>
        </header>
      </div>
    </div>
  </div>
</section>

<!-- STEPS -->
<div class="position-relative">
  <div class="bg-women"></div>
    <section class="container-steps">
      <div class="row">
        <header class="text-center">
          <h2>É realmente simples colocar a sua loja virtual no ar</h2>
          <h3>São só quatro passos para o seu sonho de ter um e-commerce sair do papel</h3>
        </header>
        <div class="box-steps">
            <div class="media-object small-10 large-5 columns">
              <div class="media-object-section">
                  <span>1</span>
              </div>
              <div class="media-object-section">
                <img class="icon-product" src="{{ "/assets/img/icon-lamp-pink.svg" | prepend: site.baseurl }}" alt="minestore loja virtual">
                <h4><strong>Escolha o seu produto</strong></h4>
                <p>Sabe aquela ideia de produto que não sai da sua cabeça?<br> Está na hora de ela virar realidade e ganhar o mundo!</p>
              </div>
            </div>
            <div class="media-object small-10 large-5 columns">
              <div class="media-object-section">
                  <span>2</span>
              </div>
              <div class="media-object-section">
                <img class="icon-product" src="{{ "/assets/img/icon-pencil-pink.svg" | prepend: site.baseurl }}" alt="minestore loja virtual">
                <h4><strong>Cadastre-se na minestore</strong></h4>
                <p>Fazer o seu cadastro na minestore é o primeiro passo
                para você entrar de vez no mundo do e-commerce.</p>
              </div>
            </div>
            <div class="media-object small-10 large-5 columns">
              <div class="media-object-section">
                  <span>3</span>
              </div>
              <div class="media-object-section">
                <img class="icon-product" src="{{ "/assets/img/icon-pc-pink.svg" | prepend: site.baseurl }}" alt="minestore loja virtual">
                <h4><strong>Monte o design da sua loja</strong></h4>
                <p>O seu e-commerce precisa chamar a atenção do consumidor. Para isso, capriche no design da sua loja (fique tranquilo que por aqui isso é facinho!).<p>
              </div>
            </div>
            <div class="media-object small-10 large-5 columns">
              <div class="media-object-section">
                  <span>4</span>
              </div>
              <div class="media-object-section">
                <img class="icon-product" src="{{ "/assets/img/icon-market-pink.svg" | prepend: site.baseurl }}" alt="minestore loja virtual">
                <h4><strong>Venda em poucos minutos</strong></h4>
                <p>Pronto! Agora é só divulgar a sua loja <br> começar a vender!</p>
              </div>
            </div>

        </div>
    </section>

  <!-- DEPOIMENTOS -->
    <section class="box-depoimentos">
        <div class="row">
          <header class="large-8 columns text-left">
            <h2>Ninguém melhor do que os<br>nossos lojistas para falar da minestore</h2>
            <h3>Eles já testaram, aprovaram e querem compartilhar essa experiência com você.</h3>
          </header>
        </div>

        {% include slider.html slider_posts=site.categories.landing-home-testimony %}

        <div class="box-midias row">
            <div class="large-16 columns">
              <h5 class="text-center">E a mídia também anda falando sobre nós! </h5>
                <ul class="img-midias">
                  <li class="medium-4 columns techmundo">
                    <a target="_blank" href="http://www.tecmundo.com.br/comercio-eletronico/87104-criar-proprio-commerce-hora-startup-minestore.htm">techmundo</a>
                  </li>
                  <li class="medium-4 columns gazeta">
                    <a target="_blank" href="http://www.gazetadopovo.com.br/economia/ampliacao-da-internet-movel-no-brasil-cria-oportunidades-de-negocios-11a3797fzi75jjia22l1s73nr">gazeta do povo</a>
                  </li>
                  <li class="medium-4 columns ecommerce">
                    <a target="_blank" href="https://www.ecommercebrasil.com.br/eblog/2015/09/24/nunca-foi-tao-bom-apostar-no-e-commerce-mas-todo-cuidado-e-pouco-na-escolha-da-plataforma/">ecommerce brasil</a>
                  </li>
                </ul>
            </div>
        </div>
      </div>
    </section>
  </div>
  <section class="box-comunidade box-comunidade-home row">
    <header class="large-10 columns text-center  large-centered">
      <h2>Somos uma comunidade <br>de marcas independentes </h2>
      <h3>Nós acreditamos que o movimento slow não é apenas uma tendência, mas sim uma realidade necessária.
      <br>Existimos e trabalhamos diariamente para que cada vez mais lojas com produtos caprichados e pensados no consumidor ganhem espaço no mercado.
      </h3>
      <h4><strong>Conheça os principais segmentos que usam a nossa plataforma <br>e faça parte da comunidade minestore:</strong></h4>
    </header>
    <div class="row collapse">
      <div class="large-16 columns">
          <ul class="tabs" data-tabs id="example-tabs" data-tab role="tablist">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Moda</a></li>
            <li class="tabs-title"><a href="#panel2">Design & Arte</a></li>
            <li class="tabs-title"><a href="#panel3">Geek</a></li>
            <li class="tabs-title"><a href="#panel4">Handmade</a></li>
            <li class="tabs-title"><a href="#panel5">Marcas independentes</a></li>
          </ul>
        </div>
        <div class="box-nichos large-16 columns">
          <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
              <picture class="large-6 columns">
                <img src="{{"/assets/img/moda.png" | prepend: site.baseurl }}"  alt="">
              </picture>
              <h4>Moda</h4>
              <p>A moda também é uma forma de expressão. Uma roupa pode funcionar como extensão de quem a usa, demonstrando sua personalidade, humor e estilo. </p>
              <p>Apesar de prático (e mais barato), o fast fashion faz com que parte dessa simbologia seja perdida. As roupas acabam tornando-se descartáveis e funcionando como um uniforme. </p>
              <p>O movimento slow fashion surge justamente para dar um basta nessa situação. Ele prega que as roupas devem ser feitas com mais calma, cuidado e carinho. Isso faz com que cada peça seja uma troca de experiências entre quem a produziu e quem a comprou.</p>
              <p>A sua marca de roupas segue esse modelo? Uma loja virtual pode fazer com que mais pessoas conheçam e consumam as suas peças! </p>
            </div>
            <div class="tabs-panel" id="panel2">
              <picture class="large-6 columns">
                <img src="{{"/assets/img/design_arte.png" | prepend: site.baseurl }}"  alt="">
              </picture>
              <h4>Design & arte</h4>
              <p>Antigamente, conseguir vender arte era um privilégio para poucos criadores. A dificuldade para apresentar os produtos para os nichos interessados fazia com que muitos itens ficassem sem compradores. </p>
              <p>Essa realidade está mudando e o e-commerce tem papel fundamental na democratização  da arte e do design, tanto para quem deseja a experiência de consumi-los quanto para quem quer vendê-los! </p>
              <p>Toda a equipe da minestore valoriza o design e as artes. Por isso, fazemos questão de ver a sua marca trazendo cor para o nosso portfólio. </p>
            </div>
            <div class="tabs-panel" id="panel3">
              <picture class="large-6 columns">
                <img src="{{"/assets/img/geek.png" | prepend: site.baseurl }}"  alt="">
              </picture>
              <h4>Geek</h4>
              <p>Você consegue lembrar de como era gostoso ser criança e passar o dia inteiro sonhando com as aventuras vividas pelos seus super-heróis favoritos? Infelizmente, você (ainda) não tem o poder de voltar no tempo para reviver esses momentos. O lado bom é que essas experiências podem ser resgatadas se você fizer com que a sua paixão pelo mundo geek se transforme em um negócio rentável.</p>
              <p>Aqui na minestore, vamos te dar a base necessária para a sua loja virtual voar!  </p>
            </div>
            <div class="tabs-panel" id="panel4">
              <picture class="large-6 columns">
                <img src="{{"/assets/img/handmade.png" | prepend: site.baseurl }}"  alt="">
              </picture>
              <h4>Handmade</h4>
              <p>Quem faz um produto à mão sabe como ele carrega história. O carinho na hora de escolher os materiais, o pensamento por trás do design e o tempo dedicado para transformar uma ideia em objeto são apenas alguns dos passos desse processo. </p>
              <p>Porém, todo trabalho vale a pena quando o item encontra alguém interessado em adquiri-lo! </p>
              <p>Se você é uma dessas pessoas que aposta na criatividade e deseja oferecer uma experiência única (assim como as suas peças) para o consumidor, junte-se a nós. Os seus produtos e artesanatos vão ficar ainda mais bonitos na nossa plataforma de e-commerce! </p>
            </div>
            <div class="tabs-panel" id="panel5">
              <picture class="large-6 columns">
                <img src="{{"/assets/img/marcas_independentes.png" | prepend: site.baseurl }}"  alt="">
              </picture>
              <h4>Marcas independentes</h4>
              <p>É preciso ter coragem para abrir uma loja independente. Começar do zero e desafiar o status quo pode ser difícil.</p>
              <p>Superar esse desafio traz uma sensação que não tem comparação. Sabe aquele item que só existia na sua cabeça? O prazer de vê-lo sendo aceito e consumido por pessoas que você nem sabia que existiam é maravilhoso.</p>
              <p>Nós queremos que você tenha exatamente essa experiência!  </p>
            </div>
          </div>
      </div>
    </div>
  </section>

  <!-- E-commerce no ar -->

  <section class="position-relative position-ecommerce expanded intro-course-callout">
    <div class="bg-woman-bicycle"></div>
    <div class="box-ecommerce">
      <div class="text-position large-6 columns">
        <header>
          <h2>Vamos colocar o seu <br>e-commerce no ar juntos!</h2>
          <h3>Ter um e-commerce requer dedicação e estudo, mas fique tranquilo,
          porque nós vamos te oferecer a base necessária para que a sua loja seja um sucesso! </h3>
        </header>
        <div class="large-10 columns">
          <h4><strong>Loja atualizada</strong></h4>
          <p>Você precisa manter a sua loja sempre atualizada e com produtos legais. Para te ajudar nesse processo, contamos com um dashboard intuitivo e fácil de usar.</p>
        </div>
        <div class="large-10 columns">
          <h4><strong>Materiais sobre e-commerce</strong></h4>
          <p>Estudar o universo do e-commerce é importante para ter uma loja virtual de sucesso. Aqui na minestore nós produzimos artigos, e-books e uma série de materiais para facilitar a sua vida. </p>
        </div>
        <div class="large-10 large-pull-2 columns">
          <h4><strong>Conte conosco sempre que precisar</strong></h4>
          <p>Surgiu alguma dúvida no meio do processo? Relaxa, a nossa equipe está pronta para te ajudar no que for necessário para você ter uma loja sensacional! </p>
        </div>
      </div>
    </div>
    <div class="bg-mockup"></div>
  </section>

  <!--Funcionalidades-->

  <section class="row box-funcionalidades">
    <header class="large-8 columns large-centered text-center">
      <h2>Todas as nossas funcionalidades <br>são pensadas em você</h2>
      <h3>Elas garantem que você dedique o seu tempo ao que realmente <br>
          importa: criar estratégias para vender.</h3>
    </header>
    <div class="row">
      <div class="large-4 columns media-object stack-for-small">
        <div class="media-object-section small-pull-5">
          <img class="icon-product" src="{{ "/assets/img/icon-market.svg" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="media-object-section">
          <h4>Gerenciamento<br> sem complicações</h4>
          <p>Você não precisa ser um especialista para usar a nossa plataforma. Ela foi criada para ser fácil de entender e simples de gerenciar.</p>
        </div>
      </div>
      <div class="large-4 columns media-object stack-for-small">
        <div class="media-object-section small-pull-5">
            <img class="icon-product" src="{{ "/assets/img/icon-pc.svg" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="media-object-section">
          <h4>Design diferenciado</h4>
          <p>Acreditamos que o design é uma das chaves para um e-commerce de sucesso. Por isso, fazemos questão de caprichar!</p>
        </div>
      </div>
      <div class="large-4 columns media-object stack-for-small">
        <div class="media-object-section small-pull-5">
          <img class="icon-product" src="{{ "/assets/img/icon-templates.svg" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="media-object-section">
          <h4>Templates exclusivos<br> e customizáveis</h4>
          <p>Disponibilizamos uma variedade de recursos, para que sua loja seja como você sempre sonhou.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns media-object stack-for-small">
        <div class="media-object-section small-pull-5">
            <img class="icon-product" src="{{ "/assets/img/icon-user.svg" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="media-object-section">
          <h4>Suporte amigável sempre <br>que for preciso</h4>
          <p>Alguma dúvida surgiu no meio do processo? Nossa equipe está sempre disponível para te ajudar no que for necessário.</p>
        </div>
      </div>
      <div class="large-4 columns media-object stack-for-small">
        <div class="media-object-section small-pull-5">
          <img class="icon-product" src="{{ "/assets/img/icon-page-view.svg" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="media-object-section">
          <h4>Pageview ilimitado</h4>
          <p>Pode divulgar a sua loja à vontade e fazer com que muita gente entre no seu site. Por aqui, não vamos cobrar os pageviews.</p>
        </div>
      </div>
      <div class="large-4 columns media-object stack-for-small">
        <div class="media-object-section small-pull-5">
          <img class="icon-product" src="{{ "/assets/img/icon-product.svg" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="media-object-section">
          <h4>Produto Ilimitado</h4>
          <p>Você tem muita coisa pra vender? Então aproveite para colocar todos esses itens na internet sem se preocupar em pagar a mais por isso.</p>
        </div>
      </div>
    </div>
  </section>

  {% include box-cta.html  cta_text=page.cta_text %}
