---
layout: default
---

<!-- HERO -->
<section>
  <div class="row">
    <div class="hero-wrapper">
      <div class="row large-6 column large-expand title-hero">
        <header class="text-left">
          <h1>Atual.Criativa.Original.
          Assim como sua marca.</h1>
          <h2>Crie seu e-commerce e faça parte da nossa comunidade</h2>
          <button>Crie sua loja grátis</button>
        </header>
      </div>
    </div>
  </div>
</section>

<!-- STEPS -->
<div class="position">
  <div class="bg-women"></div>
    <section class="container-steps">
      <div class="row">
        <header class="text-center">
          <h2>É realmente simples colocar a sua loja virtual no ar</h2>
          <h3>São só quatro passos para o seu sonho de ter um e-commerce sair do papel</h3>
        </header>
        <div class="box-steps">
          <div class="large-5 columns step-1">
            <i>1</i>
            <img class="icon-product" src="{{ "/assets/img/icon-product.svg" | prepend: site.baseurl }}" alt="minestore loja virtual">
            <h4>Escolha o seu produto</h4>
            <p>Sabe aquela ideia de produto que não sai da sua cabeça? Está na hora de ela virar realidade e ganhar o mundo!</p>
          </div>
          <div class="large-5 columns">
            <i>2</i>
            <img class="icon-product" src="{{ "/assets/img/icon-register.svg" | prepend: site.baseurl }}" alt="minestore loja virtual">
            <h4>Cadastre-se na Minestore</h4>
            <p>Fazer o seu cadastro na minestore é o primeiro passo para você entrar de vez no mundo do e-commerce.</p>
          </div>
          <div class="large-5 columns">
            <i>3</i>
            <img class="icon-product" src="{{ "/assets/img/icon-pc.svg" | prepend: site.baseurl }}" alt="minestore loja virtual">
            <h4>Monte o design da sua loja</h4>
            <p>O seu e-commerce precisa chamar a atenção do consumidor. Para isso, capriche no design da sua loja (fique tranquilo que por aqui isso é facinho!).</p>
          </div>
          <div class="large-5 columns">
            <i>4</i>
            <img class="icon-product" src="{{ "/assets/img/icon-market.svg" | prepend: site.baseurl }}" alt="minestore loja virtual">
            <h4>Venda em poucos minutos</h4>
            <p>Pronto! Agora é só divulgar a sua loja e começar a vender!</p>
          </div>
        </div>
    </section>

  <!-- DEPOIMENTOS -->
    <section class="box-depoimentos">
        <div class="row">
          <header class="large-8 columns text-left">
            <h2>Ninguém melhor do que os</br>nossos lojistas para falar da minestore</h2>
            <h3>Eles já testaram, aprovaram e querem compartilhar essa experiência com você.</h3>
          </header>
        </div>

        {% include slider.html slider_posts=site.categories.landing-home %}

        <div class="box-midias row">
            <div class="large-16 columns">
              <h5 class="text-center">E a mídia também anda falando sobre nós! </h5>
                <ul class="img-midias">
                  <li class="medium-4 columns techmundo">
                    <a target="_blank" href="http://www.tecmundo.com.br/comercio-eletronico/87104-criar-proprio-commerce-hora-startup-minestore.htm">techmundo</a>
                  </li>
                  <li class="medium-4 columns gazeta">
                    <a target="_blank" href="http://www.gazetadopovo.com.br/economia/ampliacao-da-internet-movel-no-brasil-cria-oportunidades-de-negocios-11a3797fzi75jjia22l1s73nr">gazeta do povo</a>
                  </li>
                  <li class="medium-4 columns ecommerce">
                    <a target="_blank" href="https://www.ecommercebrasil.com.br/eblog/2015/09/24/nunca-foi-tao-bom-apostar-no-e-commerce-mas-todo-cuidado-e-pouco-na-escolha-da-plataforma/">ecommerce brasil</a>
                  </li>
                </ul>
            </div>
        </div>
      </div>
    </section>
  </div>
  <section class="box-comunidade row">
    <header class="text-center">
      <h2>Somos uma comunidade de marcas independentes </h2>
      <h3>Nós acreditamos que o movimento slow não é apenas uma tendência, mas sim uma realidade necessária. Existimos e trabalhamos diariamente para que cada vez mais lojas com produtos caprichados e pensados no consumidor ganhem espaço no mercado.
      </h3>
      <h4>Conheça os principais segmentos que usam a nossa plataformae faça parte da comunidade minestore:</h4>
    </header>
    <div class="row collapse">
      <div class="large-16 columns">
          <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Moda</a></li>
            <li class="tabs-title"><a href="#panel2">Design & arte</a></li>
            <li class="tabs-title"><a href="#panel3">Geek</a></li>
            <li class="tabs-title"><a href="#panel4">Handmade</a></li>
            <li class="tabs-title"><a href="#panel5">Marcas independentes</a></li>
          </ul>
        </div>
        <div class="medium-9 columns">
          <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
            </div>
            <div class="tabs-panel" id="panel2">
              <p>pokemon dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
            </div>
            <div class="tabs-panel" id="panel3">
              <p>pikakakka dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
            </div>
            <div class="tabs-panel" id="panel4">
              <p>ogogogoo dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
            </div>
            <div class="tabs-panel" id="panel5">
              <p>aeee dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
            </div>
          </div>
      </div>
    </div>
  </section>

  <!-- E-commerce no ar -->
  <section class="row expanded intro-course-callout">
    <div class="large-11 large-push-5 columns banner-info">
      <header>
        <h2>Vamos colocar o seu e-commerce no ar juntos!</h2>
        <h3>Ter um e-commerce requer dedicação e estudo. Mas, fique tranquilo,
        porque nós vamos te oferecer a base necessária para que a sua loja seja um sucesso! </h3>
      </header>
      <div>
        <h4>Materiais sobre e-commerce</h4>
        <p>Estudar o universo do e-commerce é importante para ter uma loja virtual de sucesso. Aqui na minestore nós produzimos artigos, ebooks e uma série de materiais para facilitar a sua vida. </p>
      </div>
      <div>
        <h4>Conte conosco sempre que precisar</h4>
        <p>Surgiu alguma dúvida no meio do processo? Relaxa, a nossa equipe está pronta para te ajudar no que for necessário para você ter uma loja sensacional! </p>
      </div>
    </div>
  </section>

  <!--Funcionalidades-->
  <section class="box-funcionalidades">
    <header class="text-center">
      <h2>Todas as nossas funcionalidades são pensadas em você</h2>
      <h3>Elas garantem que você dedique o seu tempo ao que realmente
          importa: criar estratégias para vender.</h3>
    </header>
    <div class="row">
      <div class="large-4 columns">
        <h4>Gerenciamento sem complicações</h4>
        <p>Você não precisa ser um especialista para usar a nossa plataforma. Ela foi criada para ser fácil de entender e simples de gerenciar.</p>
      </div>
      <div class="large-4 columns">
        <h4>Design diferenciado</h4>
        <p>Acreditamos que o design é uma das chaves para um e-commerce de sucesso. Por isso, fazemos questão de caprichar!</p>
      </div>
      <div class="large-4 columns">
        <h4>Templates exclusivos e customizáveis</h4>
        <p>Disponibilizamos uma variedade de recursos, para que sua loja seja como você sempre sonhou.</p>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <h4>Suporte amigável sempre que for preciso</h4>
        <p>Alguma dúvida surgiu no meio do processo? Nossa equipe está sempre disponível para te ajudar no que for necessário.</p>
      </div>
      <div class="large-4 columns">
        <h4>Pageview ilimitado</h4>
        <p>Pode divulgar a sua loja à vontade e fazer com que muita gente entre no seu site. Por aqui, não vamos cobrar os pageviews.</p>
      </div>
      <div class="large-4 columns">
        <h4>Produto Ilimitado</h4>
        <p>Você tem muita coisa pra vender? Então aproveite para colocar todos esses itens na internet sem se preocupar em pagar a mais por isso.</p>
      </div>
    </div>
  </section>

  {% include box-cta.html %}
