---
layout: default
title: Preços
permalink: /precos
---

<section class="box-precos">
	<header>
		<div class="large-centered columns text-center">
			<h1>O empurrãozinho que faltava pra <br>você vender pela internet!</h1>
		</div>
	</header>

	<div class="row box-title">
    <div class="large-12 columns text-center">
      <h2>Nós queremos ver os seus produtos ganhando o mundo!</h2>
      <p>
        Por isso fazemos questão de não cobrar <strong>nenhuma mensalidade.</strong></br>
        Por aqui, você só paga <strong>2,99%</strong> + taxa do meio de pagamento por pedido aprovado.
      </p>
    </div>
    <form class="large-16 columns box-form">
      <div class="row">
        <div class="large-3 large-push-3 columns">
          <input class="input-txt" type="text" id="email" placeholder="E-mail">
        </div>
        <div class="large-4 large-pull-2 columns">
          <button class="hvr-sweep-to-right btn-cta" type="button" id="create" value="Crie sua loja">Crie sua loja</button>
        </div>
      </div>
    </form>
	</div>

  <div class="row box-itens">
    <ul>
      <li class="large-3 large-up-3 columns">Instalação gratuita</li>
      <li class="large-3 columns">Acessos ilimitados</li>
      <li class="large-3 columns">Suporte exclusivo</li>
      <li class="large-3 columns">Segurança e confidencialidade</li>
      <li class="large-3 columns">Produtos ilimitados</li>
      <li class="large-3 columns">Temas gratuitos</li>
      <li class="large-3 columns">Pronto para mobile</li>
      <li class="large-3 columns">Focada para conversão de vendas</li>
    </ul>
  </div>

  <section class="box-depoimentos">
        {% include slider.html slider_posts=site.categories.landing-home-testimony %}

  </section>


<div class="box-perguntas">
  <div class="row">
    <div class="large-16 columns">
      <h2>Perguntas frequentes</h2>
    </div>
    <div class="large-6 columns">
      <h4>Existe alguma taxa de configuração?</h4>
      <p>
        Não, você pode criar sua loja gratuitamente!
        Já tenho uma loja virtual, posso migrá-la para a minestore? Sim!
        Podemos migrar todos os produtos que você já cadastrou em outra plataforma para a minestore.
        Basta criar uma loja e, aí, entrar em contato conosco pela e-mail.
        <strong>(contato@minestore.com.br).</strong>
      </p>
    </div>

    <div class="large-6 columns">
      <h4>A minestore é uma plataforma segura?</h4>
      <p>
        Sim: essa é uma preocupação constante nossa.
        Cuidamos especialmente disso para garantir que você
        não vai ter problemas com fraude no pagamento (com
        gateways seguros) e garantimos dados criptografados
        e uma navegação segura para você e seus clientes
        com um certificado SSL.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <h4>Posso usar um domínio próprio na minestore?</h4>
      <p>
        Sim! Se você já tiver um domínio para a sua loja
        virtual, pode utiliza-lo sem problemas.
      </p>
    </div>

    <div class="large-6 columns">
      <h4>Posso cancelar minha conta a qualquer hora?</h4>
      <p>
        Claro! Você pode cancelar sua loja a qualquer momento, sem complicações.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <h4>Eu preciso de um CNPJ para vender online?</h4>
      <p>
        Você pode abrir uma loja sem ter CNPJ, mas nós
        recomendamos que você formalize a sua empresa
        (não é tão difícil quanto parece!). Isso evita que o seu
        e-commerce tenha problemas de ordem tributária no futuro.
        Nesse link, você pode entender melhor essa questão.
      </p>
    </div>
  </div>
</div>

</section>

{% include box-cta.html %}
