<!-- CTA -->
  <section class="box-cta">
   <div class="row">
      <div class="large-6 columns">
        <h2>Aqui é onde tudo começa!</h2>
      </div> 
      <div class="large-6 columns">
        <h3>Queremos que cada vez mais lojas levem os seus produtos para o mundo! 
            Por isso, cobramos apenas uma pequena taxa por venda (2,99% + a taxa do meio de pagamento que você escolher). </h3>
        <input type="text" class="" placeholder="Digite seu e-mail">
        <button>Criar loja grátis</button>
      </div>
    </div>
  </section>