<!-- CTA -->
  <section class="box-cta">
   <div class="row">
      <div class="large-3 columns border">
        <h2>{{ include.cta_text }}</h2>
      </div>
      <div class="box-form-cta large-4 columns">
        <h3>Queremos que cada vez mais lojas levem os seus produtos para o mundo! </br>
            Por isso, cobramos apenas uma pequena taxa por venda (2,99% + a taxa do meio de pagamento que você escolher).</h3>
        <form action="" class="form-cta">
          <input class="input" name="criar-loja" type="email" id="email-box" placeholder="Digite seu e-mail">
          <button class="btn-cta hvr-sweep-to-right small-12" id="create-store-box">Criar minha loja grátis</button>
        </form>
      </div>
    </div>
  </section>
