<h4>Baixe o e-book grátis!</h4>
<form class="cta-header" id="cta-header-form">
  <input class="input-txt" type="text" id="email-header" placeholder="Email">
  <button class="hvr-sweep-to-right" type="button" id="download-header" value="Quero meu e-book!">Quero meu e-book!</button>
</form>
<form class="success-cta-header" id="success-cta-header">
  <strong>Pronto! Tem um guia te esperando na sua caixa de e-mail :)</strong>
  <p>Que tal aproveitar para criar sua loja virtual? É de graça!</p>
  <button class="btn-cta hvr-sweep-to-right small-12 create-store-header">Criar minha loja grátis</button>
</form>
<div class="box-redes">
	<div class="links-redes">
		Share this:
		<ul class="text-redes large-8 columns large-centered">
		  <li class="text-center">
		    <a class="face" href="https://www.facebook.com/minestorebr/?fref=ts">Facebook</a>
		  </li>
		  <li class="text-center">
		    <a class="twitter" href="https://twitter.com/minestorebr">Twitter</a>
		  </li>
		  <li class="text-center">
		    <a class="youtube" href="https://www.youtube.com/channel/UCgIADTj5ORrUhYoUBRH-U7A">YouTube</a>
		  </li>
		</ul>
	</div>
</div>
