<section class="cta-footer">
  <form class="box-form" id="cta-footer-form">
    <div class="row text-center">
      <h4>Baixe e-book grátis!</h4>
      <div class="large-4 large-push-3 small-12 columns"> 
        <input name="email-book" class="input-txt" type="email" id="email-footer" placeholder="Digite seu e-mail">
      </div>
        <button class="btn-cta hvr-sweep-to-right small-12 medium-12 large-2 button" type="submit" id="download-footer" value="Quero meu e-book!">Quero meu e-book!</button> 
    </div>
  </form>
  <div class="box-form success-cta-footer" id="success-cta-footer">
    <div class="box-form success-cta-footer" id="success-cta-footer"> 
      <h4>Pronto! Tem um guia te esperando na sua caixa de e-mail :)</h4> 
    </div> 
  </div>
</section>
