<h4>Baixe o e-book grátis!</h4>
<form class="cta-header" id="cta-header-form">
  <input name="email-book" class="input-txt" type="email" id="email-header" placeholder="Email">
  <button class="hvr-sweep-to-right" type="submit" id="download-header" value="Quero meu e-book!">Quero meu e-book!</button>
</form>
<form class="success-cta-header" id="success-cta-header">
  <strong>Pronto! Tem um guia te esperando na sua caixa de e-mail :)</strong>
  <p>Que tal aproveitar para criar sua loja virtual? É de graça!</p>
  <button class="btn-cta hvr-sweep-to-right small-12 create-store-header">Criar minha loja grátis</button>
</form>
