<section class="cta-footer">
  <form class="box-form">
    <div class="row text-center">
      <h4>Baixe e-book grátis!</h4>
      <div class="large-3 large-push-3 columns">
        <input class="input-txt" type="text" id="email-footer" placeholder="Email">
      </div>
      <div class="large-3 large-pull-3 columns">
        <button class="btn-cta hvr-sweep-to-right" type="button" id="download-footer" value="Quero meu e-book!">Quero meu e-book!</button>
      </div>
    </div>
  </form>
</section>
