<footer class="box-footer">
  <section class="box-links-ft">
    <div class="row">
      <nav class="large-3 columns">
        <ul class="teste">
          <li><h4><strong>Blog</strong></h4></li>
          <li><a class="hvr-underline-from-center" href="https://www.minestore.com.br/blog/como-vender-mais-online/5-erros-que-podem-estar-impedindo-o-crescimento-do-seu-e-commerce/">5 erros que podem estar impedindo o crescimento do seu e-commerce</a></li>
          <li><a class="hvr-underline-from-center" href="https://www.minestore.com.br/blog/como-vender-mais-online/qual-e-o-perfil-do-consumidor-mobile-no-brasil/">Qual é o perfil do consumidor mobile no Brasil?</a></li>
          <li><a class="hvr-underline-from-center" href="https://www.minestore.com.br/blog/novidades-da-minestore/neste-dia-dos-pais-quem-ganha-presente-e-o-lojista/">Neste dia dos pais, quem ganha presente é o lojista!</a></li>
          <li><a class="hvr-underline-from-center" href="https://www.minestore.com.br/blog/quero-vender-online/agora-e-a-hora-de-voce-investir-no-e-commerce/">Agora é a hora de você investir no e-commerce</a></li>
          <li><a class="hvr-underline-from-center" href="https://www.minestore.com.br/blog/operacional/ferramentas-do-google-ideais-para-o-seu-e-commerce/">Ferramentas do Google ideais para o seu e-commerce</a></li>
        </ul>
      </nav>

      <nav class="large-2 columns">
        <ul>
          <li><h4><strong>A minestore</strong></h4></li>
          <li><a class="hvr-underline-from-center" href="{{ '/recursos' | prepend: site.baseurl }}">Recursos</a></li>
          <li><a class="hvr-underline-from-center" href="{{ '/comunidade' | prepend: site.baseurl }}">Comunidade</a></li>
          <li><a class="hvr-underline-from-center" href="{{ '/parceiros' | prepend: site.baseurl }}">Parceiros</a></li>
          <li><a class="hvr-underline-from-center" href="{{ '/preco' | prepend: site.baseurl }}">Preço</a></li>
        </ul>
      </nav>

      <nav class="large-3 columns">
        <ul>
          <li><h4><strong>Suporte</strong></h4></li>
          <li><a class="hvr-underline-from-center" href="https://www.minestore.com.br/ajuda/">Ajuda</a></li>
          <li><a class="hvr-underline-from-center" href="{{ '/e-books' | prepend: site.baseurl }}">E-books</a></li>
          <li><h4 class="conheca"><strong>Conheça nossa solução enterprise</strong></h4></li>
          <li><a class="saiba-mais" href="http://ateliware.github.io/minestore-enterprise/">Saiba mais</a></li>
        </ul>
      </nav>

      <address class="large-4 columns">
        <div class="box-endereco">
          <h4><strong>Endereço</strong></h4>
          Av. Paraná, 202, Sala 403 CEP 80035-130, Curitiba, Paraná, Brasil
        </div>
        <div class="box-endereco">
          <h4><strong>Telefone</strong></h4>
          +55 (41) 3010-2275
        </div>
        <div class="box-endereco">
          <h4><strong>Contato</strong></h4>
          {{ site.email }}
        </div>
        <div class="box-endereco">
          <h4><strong>Razão social</strong></h4>
          ateliware software ltda CNPJ: 14650011000121
        </div>
      </address>
    </div>
  </section>
  <section class="box-redes">
    <div class="row text-center links-redes">
      <ul class="text-redes large-centered">
        <li class="text-center">
          <a class="face" target="_blank" href="https://www.facebook.com/minestorebr/?fref=ts">Facebook</a>
        </li>
        <li class="text-center">
          <a class="twitter" target="_blank" href="https://twitter.com/minestorebr">Twitter</a>
        </li>
        <li class="text-center">
          <a class="youtube" target="_blank" href="https://www.youtube.com/channel/UCgIADTj5ORrUhYoUBRH-U7A">YouTube</a>
        </li>
      </ul>
    </div>

    <div class="row text-center">
        <img class="logo-mine-pink" src="{{ "/assets/img/logo-mine.svg" | prepend: site.baseurl }}" alt="">
    </div>

    <div class="row text-center">
      <p>
        minestore © 2016</br>
        <a href="{{ '/termos-de-uso' | prepend: site.baseurl }}"><strong>Termos de uso</strong></a> | <a href="{{ '/politica-de-privacidade' | prepend: site.baseurl }}"><strong>Política de privacidade</strong></a>
      </p>
    </div>
  </section>
</footer>

<script src="{{ "/assets/vendor/jquery/dist/jquery.min.js" | prepend: site.baseurl }}" async></script>
<script src="{{ "/assets/vendor/what-input/what-input.min.js" | prepend: site.baseurl }}" async></script>
<script src="{{ "/assets/vendor/foundation-sites/dist/foundation.min.js" | prepend: site.baseurl }}" async></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}" async></script>
<script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/integration/stable/rd-js-integration.min.js" async></script>  
<script>
  jQuery(function () {
    jQuery('#create-store').click(function() {
      email = jQuery('input[type="email"]').first().val();
      if (email == '') {
        email = jQuery('input[type="email"]').last().val()
      }

      jQuery.ajax({
        url: "https://app.minestore.com.br/leads.json",
        type: "POST",
        data: {
          email: email,
          type: 'lead'
        }
      }).done(function(data) {
        window.location.href = "https://app.minestore.com.br/criar-loja?email=" + data.email;
      }).fail(function(data) {
        mixpanel.track('Fail to capture Lead');
        jQuery('.cta-form').addClass('shake');
        jQuery('input[type="email"]').attr('placeholder', 'pode digitar o email de novo?').val('');
        setTimeout(function() {
          jQuery('.cta-form').removeClass('shake');
        }, 500);
      });
    });
  });
</script>



<script type="text/javascript">
   var meus_campos = {
       'email': 'email'
    };
   options = { fieldMapping: meus_campos };
   RdIntegration.integrate('7fb48ac5a32815771ae19340276ad371', 'solicitou ebook como divulgar', options);  
</script>

