<footer class="box-footer">
  <section class="box-links-ft">
    <div class="row">
      <nav class="large-3 columns">
        <ul class="teste">
          <li><h4><strong>Blog</strong></h4></li>
          <li><a class="hvr-underline-from-center" href="#">Checklist de um dono de e-commerce</a></li>
          <li><a class="hvr-underline-from-center" href="#">5 estratégias para divulgar sua loja virtual</a></li>
          <li><a class="hvr-underline-from-center" href="#">Como gerenciar uma loja virtual</a></li>
          <li><a class="hvr-underline-from-center" href="#">6 Dicas para ter fotos incríveis</a></li>
          <li><a class="hvr-underline-from-center" href="#">E-commerce é o canal ideal para moda</a></li>
        </ul>
      </nav>

      <nav class="large-2 columns">
        <ul>
          <li><h4><strong>A minestore</strong></h4></li>
          <li><a class="hvr-underline-from-center" href="{{ '/recursos' | prepend: site.baseurl }}">Recursos</a></li>
          <li><a class="hvr-underline-from-center" href="{{ '/lojistas' | prepend: site.baseurl }}">Lojistas</a></li>
          <li><a class="hvr-underline-from-center" href="{{ '/parceiros' | prepend: site.baseurl }}">Parceiros</a></li>
          <li><a class="hvr-underline-from-center" href="{{ '/preco' | prepend: site.baseurl }}">Preço</a></li>
        </ul>
      </nav>

      <nav class="large-3 columns">
        <ul>
          <li><h4><strong>Suporte</strong></h4></li>
          <li><a class="hvr-underline-from-center" href="https://www.minestore.com.br/ajuda/">Ajuda</a></li>
          <li><a class="hvr-underline-from-center" href="{{ '/e-books' | prepend: site.baseurl }}">E-books</a></li>
          <li><h4 class="conheca"><strong>Conheça nossa solução enterprise</strong></h4></li>
          <li><a class="saiba-mais" href="#">Saiba mais</a></li>
        </ul>
      </nav>

      <address class="large-4 columns">
        <div class="box-endereco">
          <h4><strong>Endereço</strong></h4>
          Av. Paraná, 202, Sala 403 CEP 80035-130, Curitiba, Paraná, Brasil
        </div>
        <div class="box-endereco">
          <h4><strong>Telefone</strong></h4>
          +55 (41) 3010-2275
        </div>
        <div class="box-endereco">
          <h4><strong>Contato</strong></h4>
          {{ site.email }}
        </div>
        <div class="box-endereco">
          <h4><strong>Razão social</strong></h4>
          ateliware software ltda CNPJ: 14650011000121
        </div>
      </address>
    </div>
  </section>
  <section class="box-redes">
    <div class="row text-center links-redes">
      <ul class="text-redes large-centered">
        <li class="text-center">
          <a class="face" href="https://www.facebook.com/minestorebr/?fref=ts">Facebook</a>
        </li>
        <li class="text-center">
          <a class="twitter" href="https://twitter.com/minestorebr">Twitter</a>
        </li>
        <li class="text-center">
          <a class="youtube" href="https://www.youtube.com/channel/UCgIADTj5ORrUhYoUBRH-U7A">YouTube</a>
        </li>
      </ul>
    </div>

    <div class="row text-center">
        <img class="logo-mine-pink" src="{{ "/assets/img/logo-mine.svg" | prepend: site.baseurl }}" alt="">
    </div>

    <div class="row text-center">
      <p>
        minestore © 2016</br>
        <a href="#"><strong>Termos de uso</strong></a> | <a href="#"><strong>Política de privacidade</strong></a>
      </p>
    </div>
  </section>
</footer>

<script src="{{ "/assets/vendor/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/what-input/what-input.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/vendor/foundation-sites/dist/foundation.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
