<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="option-list">
          <li><b>Blog</b></li>
          <li>Checklist de um dono de e-commerce</li>
          <li>5 estratégias para divulgar sua loja virtual</li>
          <li>Como gerenciar uma loja virtual</li>
          <li>6 Dicas para ter fotos incríveis</li>
          <li>E-commerce é o canal ideal para moda</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="option-list">
          <li><b>Empresa</b></li>
          <li>Recursos</li>
          <li>Comunidade minestore</li>
          <li>Parceiros</li>
          <li>Preços</li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="option-list">
          <li><b>Suporte</b></li>
          <li>Ajuda</li>
          <li>E-book</li>
          <li><b>Conheça nossa solução enterprise</b></li>
          <li><a href="#">Saiba mais</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-4">
        <ul class="option-list">
        
          <li><b>Endereço</b></li>
          <li>Av. Paraná, 202, Sala 403 CEP 80035-130, Curitiba, Paraná, Brasil</li>
          <li><b>Telefone</b></li>
          <li>+55 (41) 3010-2275</li>
          <li><b>Contato</b></li>
          <li>{{ site.email }}</li>
          <li><b>Razão social</b></li>
          <li>ateliware software ltda CNPJ: 14650011000121</li>
        </ul>
      </div>

  </div>

</footer>

<script type="text/javascript" src="{{ "/assets/vendor/foudantion/js/foundation.min.js" | prepend: site.baseurl }}" ></script>
<script>
  $(document).foundation();
  var link_tab = window.location.hash.substr(1);
if(link_tab){
    $('[data-tabs]').eq(0).foundation('selectTab', $('#'+link_tab));
}
</script>