<header class="tp-header header-pg">
  <div class="row">
    <div class="title-bar" data-toggle="main-menu-page" data-responsive-toggle="main-menu-page" data-hide-for="large">
      <div class="top-bar-left">
        <a class="logo-mobile" href="{{ '/' | prepend: site.baseurl }}">
          <img class="logo-mine" src="{{ "/assets/img/logo-mine.svg" | prepend: site.baseurl }}" alt="minestore loja virtual">
        </a>
      </div>
        <div class="tab-bar title-bar-right">
          <section class="right-small">
            <a id="nav-toggle" class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>
        </div>
    </div>

    <nav class="top-bar" id="main-menu-page" data-toggler data-animate="fade-in fade-out">
      <div class="top-bar-left show-for-large">
        <ul class="menu-home single-home dropdown menu" data-dropdown-menu>
          <li class="menu-text">
            <a href="{{ '/' | prepend: site.baseurl }}">
              <img class="logo-mine" src="{{ "/assets/img/logo-mine.svg" | prepend: site.baseurl }}" alt="minestore loja virtual">
            </a>
          </li>
        </ul>
      </div>
      <div class="top-bar-right" data-topbar role="navigation" data-options="is_hover: false">
        <ul class="menu navigation" data-responsive-menu="drilldown large-dropdown">
          <li><a class="hvr-underline-from-center" href="{{ '/recursos' | prepend: site.baseurl }}">Recursos</a></li>
          <li><a class="hvr-underline-from-center" href="{{ '/comunidade' | prepend: site.baseurl }}">Comunidade</a></li>
          <li><a class="hvr-underline-from-center" href="{{ '/e-books' | prepend: site.baseurl }}">E-books</a></li>
          <li><a class="hvr-underline-from-center" href="{{ '/parceiros' | prepend: site.baseurl }}">Parceiros</a></li>
          <li><a class="hvr-underline-from-center" href="https://www.minestore.com.br/blog/">Blog</a></li>
          <li><a class="btn-login hvr-sweep-to-right" href="https://app.minestore.com.br/admin/entrar">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
