<header class="tp-header">
  <div class="row">
    <div class="small-3 large-4 columns">
        <a href="{{ '/' | prepend: site.baseurl }}">
          <img class="logo-mine" src="{{ "/assets/img/logo-minestore-white.svg" | prepend: site.baseurl }}" alt="minestore loja virtual">
        </a>
    </div>
    <nav class="large-8 columns" data-topbar role="navigation" data-options="is_hover: false">
      <ul class="navigation">
        <li>
          <a class="hvr-underline-from-center" href="{{ '/recursos' | prepend: site.baseurl }}">Recursos</a></li>
        <li>
          <a class="hvr-underline-from-center" href="{{ '/lojistas' | prepend: site.baseurl }}">Lojistas</a></li>
        <li>
          <a class="hvr-underline-from-center" href="{{ '/ebooks' | prepend: site.baseurl }}">E-books</a></li>
        <li>
          <a class="hvr-underline-from-center" href="{{ '/parceiros' | prepend: site.baseurl }}">parceiros</a></li>
        <li>
          <a class="hvr-underline-from-center" href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>
        <li>
        <li><a class="btn-login hvr-sweep-to-right" href="{{ '/recursos' | prepend: site.baseurl }}">Login</a></li>
      </ul>
    </nav>
  </div>

</header>
