<div class="row">
  <div class="" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <ul class="">
      {% for post in include.slider_posts %}
        <li class="orbit-slide">
          <div class="row">
            {{ post.content }}
          </div>
        </li>
      {% endfor %}
    </ul>
      {% assign position = 0 %}
      {% for post in include.slider_posts %}
        {% if position == 0 %}
          <button class="is-active" data-slide="{{ position }}"></button>
        {% else %}
          <button data-slide="{{ position }}"></button>
        {% endif %}
        {% assign position = position | plus: 1 %}
      {% endfor %}
    </nav>
  </div>
</div>
